* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #ffc8dd;
}
.portada{
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-family: "Oswald";
  background-color: #cdb4db;
  padding: .1rem;
  position: fixed;
  width: 100%;
}

ul a {
  color: antiquewhite;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

/*===============HERO============== */

main {
  background: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

#hero {
  max-width: 1200px;
  margin-top: 100px;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 70%;
}

.hero-info h1 {
  font-size: 40px;
  font-weight: 600;
  width: 60%;
  min-width: 500;
  font-family: Oswald;
}

.hero-info p {
  font-size: 25px;
  width: 80%;
  min-width: 60%;
}

.hero-info a {
  font-size: 20px;
  width: 16%;
  padding: 10px;
  border-radius: 20px;
  color: blanchedalmond;
  background-color: purple;
  text-transform: uppercase;
}

.informacion {
  display: flex;
  font-size: 23px;
  width: 80%;
  justify-content: center;
  align-items: baseline;
  padding: 10px 0;
  font-weight: 50;
  flex-direction: column;
  gap: 40px;
  min-width: 400px;
  font-family: Ubuntu;
}



.container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 15%;
  padding: 100px;
  justify-content: center;
  align-content: center;
  text-align: center;
  
}

.cards{
  width: 300px 200;
  height: 430px;
 align-items: flex-start;
 box-sizing: border-box;
 background-color: #ee9ca7;
 border-radius: 20px;
 font-size: 15px;
 padding: 10px;
 align-self: center;
 align-content: center;
}
.img_card{
  width: 80px;
  justify-content: center;
  gap: 20px;
  padding: 3px;
  align-items: center;
  margin: 1.5rem;

}


.cards2{
  width: 300px;
  background-color: #ee9ca7;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
}
.img_card2{
  width:70px;
  align-items: center;
  gap: 20%;
  align-self: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  }

  .cards3{
    background-color: #ee9ca7;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

  .img_card3{
    width: 70px;
    margin: 1.5rem;
    
  }

  .h3{
    font-size: 25px;
   margin: 1rem;
   font-family: ubuntu;
  }

  .p{
    width: 210px;
    font-size: 13px;
    padding: 10px;
    margin: 5%;
    font-family: Glegoo;
   
  }